<%- include("./partials/header") %>
<title>Aid | About Us </title>
    <link rel="stylesheet" href="/stylesheets/cover-pic.css">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <div id="cover-pic" style="  background-image: url(../images/aboout.jpg)">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="container" id="pic">
            <div id="pic-text-one">About <b>Aid</b><span style="color:#ffb400">.</span></div>
            <!-- <div id="pic-text-two"></div> -->
            <br>
            <!-- <a id="pic-button" class="btn btn-md" href="#eventbox">EVENTS</a> -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="row justify-content-center">
                    <div>
                        <img class="card-img rounded-0" src="/images/a3.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-left">
                <div class="hideme">
                    <p class="text-muted mb-1">A Few Words About Us.</p>
                    <div class="mainheader mb-4">
                        We have Voluntarily Helped for Almost 20 Years
                    </div>
                    <p class="text-muted pb-2">Aid is a not-for-profit organisation working in India for  past 20 years, focusing on alleviating poverty and social injustice. 
                        We do this through well planned and comprehensive projects in health, education, livelihoods and disaster preparedness and response. </p>
                    <p class="text-muted pb-2"> Our overall goal is the empowerment of people from poor and marginalised communities leading to improvement in their lives and livelihoods.
                        During FY 2019-20, Aid. India directly reached out to 5.4 million people directly through 53 projects across 19 states, covering more than 90 districts helping create a world where all people live with dignity and security.</p>
                    <p class="text-muted mb-0">Aid. India has made a considerable shift in its programming approach over the years. 
                        From direct service provision to enabling poor and vulnerable groups, we have evolved into a rights-based organisation in order to address underlying causes of poverty. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hideme">
        <div class="container-fluid p-0 jumbotron mx-auto m-0">
            <div class="container p-0">
                <div class="row text-center p-0 no-gutters d-flex text-center">
                    <div class="a col-md-6 col-xl-3 d-flex align-self-stretch py-5 mx-auto px-3 text-center">
                    <div class="mx-auto">
                    <div class="icon"><script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//nkmsrxys.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#ffb400"
                            style="width:60px;height:60px">
                        </lord-icon></div>
                    <div>
                    <h3 class="heading mb-3">Help &amp; Support</h3>
                    <p class="text-muted">There is no exercise better for the heart than reaching down and lifting people up.</p>
                    </div>
                    </div>
                    </div>
                    <div class="a col-md-6 col-xl-3 d-flex align-self-stretch py-5 mx-auto text-center px-3">
                    <div class="mx-auto">
                    <div class="icon"><script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//wloilxuq.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#ffb400"
                            style="width:60px;height:60px">
                        </lord-icon></div>
                    <div>
                    <h3 class="heading mb-3">Education</h3>
                    <p class="text-muted"> When you educate one person you can change a life, when you educate many you can change the world</p>
                    </div>
                    </div>
                    </div>
                    <div class="a col-md-6 col-xl-3 d-flex align-self-stretch py-5 mx-auto text-center px-3">
                    <div class="mx-auto">
                    <div class="icon"><script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//fyhanzjw.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#ffb400"
                            style="width:60px;height:60px">
                        </lord-icon></div>
                    <div>
                    <h3 class="heading mb-3">Supporting Local Businesses &amp; Vendors</h3>
                    <p class="text-muted"> Putting money into local economies keeps alive the diversity of options that makes each community unique.</p>
                    </div>
                    </div>
                    </div>
                    <div class="a col-md-6 col-xl-3 d-flex align-self-stretch py-5 mx-auto text-center px-3">
                    <div class="mx-auto">
                    <div class="icon"><script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//jqeuwnmb.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#ffb400"
                            style="width:60px;height:60px">
                        </lord-icon></div>
                    <div>
                    <h3 class="heading mb-3">Rural Digitization</h3>
                    <p class="text-muted">Digitisation can facilitate some of the key needs of rural India boosting lifestyle and public welfare services.</p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hideme">
        <div class="container-fluid px-lg-5">
            <div class="row text-center justify-content-center px-lg-4">
                <div class="b col-12 col-lg-4">
                    <br>
                <h3>Mission</h3>
                <h6>To Change the Life of Those, Who Have no Hope!</h6>
                <br>
                <p class="text-muted">
                    Together, we aim to ensure sustainable access to safe food, water, sanitation and hygiene for the most vulnerable communities through innovative partnerships, creativity and the power of art .
                </p>
                <br>
                </div>
                <br>
                <div class="b col-12 col-lg-4">
                    <br>
                <h3>Vision</h3>
                <h6>To Change the Life of Those, Who Have no Hope!</h6>
                <br>
                <p class="text-muted">To work towards creating a better India which provides basic health, education and empowerment to every citizen valuing Respect, Integreity and Liberty . </p>
                <br>
                </div>
                <div class="d-none  d-lg-block col-lg-4" id="man"></div>
                
            </div>

        </div>
    </div>

    <div class="contact-section bg-warning">
        <div class="container">
            <div class="row justify-content-center no-gutters d-flex contact-info">
                <div class="col-md-4 my-5 px-4 mx-auto text-center">
                    <div style="background-color: rgb(255, 255, 255); height:100px; width: 100px;" class="rounded-circle mx-auto icon d-flex align-items-center justify-content-center">
                        <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//zzcjjxew.json"
                            trigger="loop-on-hover"
                            colors="primary:#121331,secondary:#f8d60f"
                            stroke="32"
                            style="width:75px;height:75px">
                        </lord-icon>
                    </div>
                    <h3 class="my-4">Address</h3>
                    <h6>204,Oracle Commercials
                        BKC,Mumbai.
                        India.</h6>
                </div>
                <div class="col-md-4 my-5 px-4 mx-auto text-center">
                    <div style="background-color: rgb(255, 255, 255); height:100px; width: 100px;" class="rounded-circle mx-auto icon d-flex align-items-center justify-content-center">
                        <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//tclnsjgx.json"
                            trigger="loop-on-hover"
                            colors="primary:#121331,secondary:#ffb400"
                            style="width:75px;height:75px">
                        </lord-icon>
                    </div>
                    <h3 class="my-4">Contact No.</h3>
                    <h6>+91 9648271574</h6>
                </div>
                <div class="col-md-4 my-5 px-4 mx-auto text-center">
                    <div style="background-color: rgb(255, 255, 255); height:100px; width: 100px;" class="rounded-circle mx-auto icon d-flex align-items-center justify-content-center">
                        <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com//rhvddzym.json"
                            trigger="loop-on-hover"
                            colors="primary:#121331,secondary:#ffb400"
                            style="width:75px;height:75px">
                        </lord-icon>
                    </div>
                    <h3 class="my-4">Email Address</h3>
                    <h6><a href="mailto:aidngoinfo@gmail.com" style="color:black;text-transform: lowercase;">aidngoingo@gmail.com</a></h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid jumbotron py-5 mb-0">
        <div class="row justify-content-center justify-content-sm-between">
            <div class="col-lg-6 pb-4">
                <div class="row justify-content-center">
                    <div>
                        <img class="card-img" src="/images/map.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="text-center text-lg-left">Send us a mail</h5>
                <br>
                <form>
                    <div class="form-group">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Message"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-warning">
                  </form>
            </div>

        </div>

    </div>

    <div class="dev-section bg-warning">
        <div class="container pt-4">
            <div class="mainheader text-center"><script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com//nobciafz.json"
                    trigger="loop"
                    colors="primary:#121331,secondary:#000000"
                    style="width:110px;height:110px">
                </lord-icon> &nbsp; D E V E L O P E R S </div>
                <br>
                <hr> 
                <br>     
            <div class="row justify-content-center no-gutters d-flex dev-info">
                    
                <div class="col-md-6 my-3 px-4 mx-auto text-center">
                    <div style="background-color: rgb(255, 255, 255); height:200px; width:200px;" class="rounded-circle mx-auto d-flex align-items-center justify-content-center">
                        <div class="row justify-content-center">
                            <div >
                                <img class="rounded-circle" src="/images/darsh.jpeg" alt="" srcset="">
                            </div>
                        </div>
        
                    </div>
                    <h3 class="mt-4 mb-2">Darsh Bavishi</h3>
                    <p class="card-text">
                        <a href="https://darshbavishi.github.io/Portfolio/" data-toggle="tooltip" data-placement="bottom" title="Portfolio Website">
                            <i class="fas fa-globe-asia"></i>
                        </a>
                        &nbsp;
                        &nbsp;
                        <a href="https://github.com/DarshBavishi/" data-toggle="tooltip" data-placement="bottom" title="Github Profile">
                            <i class=" icons fab fa-github"></i>
                        </a>

                    </p>
                    <hr>
                    <p class="card-text">STUDENT | <i class="fab fa-atlassian px-1"></i> WEB DEVELOPER</p>
                </div>
                <div class="col-md-6 my-3 px-4 mx-auto text-center">
                    <div style="background-color: rgb(255, 255, 255); height:200px; width: 200px;" class="rounded-circle mx-auto d-flex align-items-center justify-content-center">
                        <div class="row justify-content-center">
                            <div >
                                <img class="rounded-circle" src="/images/bhavya.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4 mb-2">Bhavya Mehta</h3>
                    <p class="card-text">
                        <a href="https://bhavya092.github.io/Portfolio/"  data-toggle="tooltip" data-placement="bottom" title="Portfolio Website">
                            <i class="fas fa-globe-asia"></i>
                        </a>
                        &nbsp;
                        &nbsp;

                        <a href="https://github.com/bhavya092/" data-toggle="tooltip" data-placement="bottom" title="Github Profile">
                            <i class=" icons fab fa-github"></i>
                        </a>
    
                    </p>
                    <hr>
                    <p class="card-text">STUDENT | <i class="fab fa-atlassian px-1"></i> WEB DEVELOPER</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <%- include("./partials/footer") %>
    <script src="/scripts/aboutus.js"></script>