<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <title>Aid | Donate</title>
  </head>
  <body>
      <br /><br /><br />
      <div class="p-3 mx-3">
        <div class="container pl-5" style="font-size: 46px; ">
          <div class="text-center">
           <span style="font-family: 'Parisienne', cursive; font-weight: 900; word-spacing: 12px;" >Certificate of Appreciation from</span>  <b>&nbsp;Aid<span style="color: rgb(255, 187, 0)">.</span> </b></a>
          </div>
          <hr/>
        </div>
        <div class="container-fluid mx-auto" id="pic">
          <div class="row mx-auto">
            <div class="col-12 ">
              <div><img src="https://res.cloudinary.com/darshb/image/upload/v1616415770/donatecert_umnppq.svg" class="card-img" alt="" srcset=""></div>
            </div>
            
            <div class="col-12 mt-3 text-center">
                  <div style="font-size: 20px;">
                    This Certificate is Presented to
                    <br>
                    <div class="display-2" style="font-family: 'Kaushan Script', cursive;">
                      <%= name %>
                    </div>
                  </div>
                  <br>
                    <b>For Generous donation of Rs.<%= amount %> to Aid.</b>
                    <br>
                    <div> Your generousity will help people in giving them another chance at life.On behalf of the people going to be benefitted from this donation, we hence <u>THANK YOU</u> for your noble gesture.</div>
                    <br>
  
                  <h5>We have acknowledged your contribution and we hope that you won't stop here.</h5>
                  <small class="text-muted"> Happy Charity ! <i class="fas fa-heart " style="color:red;"></i></small>
                  
            </div>
          </div>
        </div>
      </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="/scripts/coverpic.js"></script>
      </body>
</html>
