<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Aid | Order Details</title>
  </head>

  <body>
    <br />
    <div class="container pl-5" style="font-size: 22px">
      <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
      <lord-icon
        src="https://cdn.lordicon.com//dxjqoygy.json"
        trigger="loop"
        colors="primary:#121331,secondary:#e88c30"
        style="width: 100px; height: 100px"
      >
      </lord-icon>
      <a href="/" style="text-decoration: none; color: black"
        >Shop with <b>Aid<span style="color: rgb(255, 187, 0)">.</span> </b></a
      >
      <hr />
    </div>
        <div class="container">
          <div class="container mx-auto px-auto" style="text-align: center">
            <div style="font-size: x-large; color: rgb(15, 153, 3)">
              ORDER PLACED SUCCESSFULLY !
            </div>
            <br />
            <div style="color:rgb(15, 153, 3)"><i class="far fa-check-circle fa-7x"></i></div>
            <br>
            <% var order = currentUser.orders[currentUser.orders.length - 1] %>
            <h5> A total of <%= order.items.length %> items to be delivered  amounting to <i>Rs.<%= order.total %></i>. </h5>
            <div> <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
              <lord-icon
                src="https://cdn.lordicon.com//uetqnvvg.json"
                trigger="loop"
                colors="primary:#121331,secondary:#eeca66"
                style="width: 32px; height: 32px"
              >
              </lord-icon>
              We ensure a fast and safe delivery in 3-4 business days.</small
            ></div>
            <div> A email has been sent to your registered email address with the transaction invoice.</div>
            <div class="text-muted">For quick transactions, if you have ordered using COD please keep exact change. </div>
            <small class="text-muted"> Happy Charity and Shopping !<i class="fas fa-heart" style="color:red;"></i></small>
            <hr>
            <br>  
            <div>
              <a  class="btn btn-sm btn-outline-info" href="/store" >BACK TO STORE</a>
              &nbsp;
              <a i class="btn btn-sm btn-outline-success" href="/"> HOME</a>
            </div>

          </div>  
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
      </body>
</html>
