@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

html {
  scroll-behavior: smooth;
}

.hover-outer-box {
  position: relative;
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.hover-outer-box .hover-inner-box {
  background: rgba(255, 179, 0, 0.612);
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity 0.5s;
  color: #fff;
  display: flex;
  align-items: center;
}

.card:hover .hover-inner-box {
  opacity: 0.9;
  transition: opacity 1s;
}

.card:hover {
  box-shadow: 2px 2px 5px gray;
  transition: all 0.7s;
}

.hover-outer-box .hover-inner-box .hover-content {
  width: 100%;
  padding: 1rem;
}

#causes,
#stories {
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
}

.card p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #999999;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

#card {
  height: 240px;
  background-color: rgb(255, 251, 247);
}

.cont {
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  box-shadow: 1px 1px 3px black;
  border-radius: 8px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  border: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  border-left: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
@media (max-width: 500px) {
  #card {
    overflow-y: scroll;
  }
}
